@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
  --font-serif: 'Lora', serif;
  --font-sans: 'DM Sans', sans-serif;
  --font-mono: 'DM Mono', monospace;
}

@layer base {
  body {
    @apply font-sans;
  }
}
