APP_ENV="local"

LOGFIRE_TOKEN=""

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL="redis://redis:6379/0"

DISCORD_TOKEN=""
SOURCE_CHANNEL_ID=""

MISTRAL_API_KEY=""
OPENROUTER_API_KEY=""

INTERNAL_API_TOKEN=""

# For prod deployment
CLOUDFLARE_TOKEN=""

# Prabin Spotify invoice email task
EXTERNAL_PRABIN_EMAIL_SMTP_SERVER="smtp.gmail.com"
EXTERNAL_PRABIN_EMAIL_SMTP_PORT=587
EXTERNAL_PRABIN_EMAIL_SENDER=""
EXTERNAL_PRABIN_EMAIL_PASSWORD=""
EXTERNAL_PRABIN_EMAIL_SENDER_NAME="Prabin Spotifyyyyy"
