[Unit]
Description=Watson Service
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/suban/Documents/watson
ExecStart=/usr/bin/make prod
ExecStop=/usr/bin/docker stop_prod
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
